[project]
	description = Snakes and Ladders game
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Barnabas Szirmay (wther)
[access "refs/for/refs/*"]
	read = group user/Barnabas Szirmay (wther)
	push = group user/Barnabas Szirmay (wther)
	label-Code-Review = -2..+2 group user/Barnabas Szirmay (wther)
	label-Verified = -1..+1 group user/Barnabas Szirmay (wther)
	rebase = group user/Barnabas Szirmay (wther)
	removeReviewer = group user/Barnabas Szirmay (wther)
	submit = group user/Barnabas Szirmay (wther)
[access "refs/heads/*"]
	read = group user/Barnabas Szirmay (wther)
	create = group user/Barnabas Szirmay (wther)
	push = +force group user/Barnabas Szirmay (wther)
	pushMerge = group user/Barnabas Szirmay (wther)
[access "refs/tags/*"]
	push = +force group user/Barnabas Szirmay (wther)
	pushTag = group user/Barnabas Szirmay (wther)
	pushSignedTag = group user/Barnabas Szirmay (wther)
