<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
        <link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/style.css">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script src="js/kinetic-v5.1.0.min.js"></script>
	<script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
	
        <script src="js/game.js" defer="defer"></script>
	<title>Snakes &amp; Ladders</title>
</head>
<body>
	<header>
		<h1>Snakes &amp; Ladders Game</h1>
	</header>
	<div id="gameDiv">
		<div id="buttonRow">
			<div id="roll_button" class="button disabled">Roll!</div>
			<div id="spaceDiv1"></div>
	        <div id="earthquake_button" class="button disabled" >Earthquake!</div>
        </div>
            <div style="clear:both;"></div>
            <section class="main pure-g">
                    <div id="container" class=""></div>
            </section>
            <div style="clear:both;"></div>
		<div id="buttonRowBottom">
			<div id="leave_button" class="button">Leave</div>
			<div id="gameText">Enjoy the game!</div>
			<div id="diceDiv">
				<img id="dice_1" class="diceImage" src="../images/dice_1.png">
				<img id="dice_2" class="diceImage" src="../images/dice_2.png">
				<img id="dice_3" class="diceImage" src="../images/dice_3.png">
				<img id="dice_4" class="diceImage" src="../images/dice_4.png">
				<img id="dice_5" class="diceImage" src="../images/dice_5.png">
				<img id="dice_6" class="diceImage" src="../images/dice_6.png">
			</div>
		</div>
		
		<div id="soundFX">
			<audio id="sound_diceroll" src="../sounds/dice.mp3" preload="auto"></audio>
			<audio id="sound_won" src="../sounds/won.mp3" preload="auto"></audio>
			<audio id="sound_earthquake" src="../sounds/earthquake.mp3" preload="auto"></audio>
		</div>
	</div>
        
	
</body>
</html>
