<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
	<link rel="stylesheet" href="css/room.css">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
	
	<script src="js/room.js"></script>
	<title>Snakes &amp; Ladders</title>
</head>
<body>
	<header>
		<h1 id="mainHeader">Snakes &amp; Ladders Room</h1>
		<div id="iconSnakesLadders"></div>
		<h2 id="roomName">Untitled</h2>
	</header>
	<section class="main pure-g">
		<div id="container" class="pure-u-1-3"></div>
	</section>

	<div id="room">
	<table id="playerList">
		<thead>
			<tr id="playerListTop">
			<td id="playerName">Player</td>
			<td id="ready">Ready</td>
			</tr>
		</thead>
	<tbody></tbody>
	</table>
	<table id="playerList">
		
	</table>
            
        <div id="sizeRow" class="paramRow">
            Board size: 
            <div class="button" id="size_64" button-value="64">8x8</div>
            <div class="button" id="size_100" button-value="100">10x10</div>
            <div class="button" id="size_144" button-value="144">12x12</div>
        </div>
            
        <div id="robotRow" class="paramRow paramRow-small">
            Robots: 
            <div class="button" id="robotButton_0" button-value="0">0</div>
            <div class="button" id="robotButton_1" button-value="1">1</div>
            <div class="button" id="robotButton_2" button-value="2">2</div>
            <div class="button" id="robotButton_3" button-value="3">3</div>
        </div>
            
        <div id="snakeRow" class="paramRow paramRow-small">
            Snakes:
            <div class="button" id="snake_3" button-value="3">3</div>
            <div class="button" id="snake_4" button-value="4">4</div>
            <div class="button" id="snake_5" button-value="5">5</div>
            <div class="button" id="snake_6" button-value="6">6</div>
        </div>
            
        <div id="ladderRow" class="paramRow paramRow-small">
            Ladders:
            <div class="button" id="ladder_3" button-value="3">3</div>
            <div class="button" id="ladder_4" button-value="4">4</div>
            <div class="button" id="ladder_5" button-value="5">5</div>
            <div class="button" id="ladder_6" button-value="6">6</div>
        </div>
	
	<div id="buttonRow">
	<div class="button" id="leave" onclick="Leave()">LEAVE</div>
	<div id="spaceDiv1"></div>
	<div class="button" id="start">START</div>
	</div>
	</div>
	


</body>
</html>
