header {
	width: 650px;
}

#mainHeader {
	text-indent: 50px;
	display: inline-block;
	vertical-align: top;
	padding-top: 5px;
}

#iconSnakesLadders {
	float: right;
	line-height: 100px;
	width: 100px;
	height: 100px;
	background-image: url("../images/snakes_ladders.png");
	background-size: 100px 100px;
	background-repeat: no-repeat;
	display: inline-block;
}

body {
    text-align: center;
}

div.wrapper {
    text-align: center;
    width: 650px;
    margin: auto;
}