#lobbyBrowser {
	margin-left: 50px;
	position: relative;
	width: 600px;
}

table#gameList {
	width: 600px;
}
tbody {
	overflow: auto;
}

tr {
	border-bottom: 1px solid;
	border-color: lightgrey;
}
tr#gameListTop {
	background-color: #669999;
}
td#roomName {
	text-indent: 20px;
	font-weight: bold;
	color: #EEEEEE;
	width: 500px;
	
}
td#players {
	width: 100px;
	text-align: center;
	font-weight: bold;
	color: #EEEEEE;

}

td {
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: lightgrey;
	padding-bottom: 5px;
	padding-top: 5px;
}

tr.roomRow {
	font-weight: bold;
	height: 35px;
}

td.roomNameColumn {
	text-indent: 10px;
	width: 500px;
}
td.playersColumn {
	text-align: center;
	width: 100px;
}

tr.selectedRoom {
	background-color: #ffa500;
}

#buttonRow {
	display: flex;
    margin-top:20px;
}

#createRoom {
	flex: 2;
	float: left;
}
#spaceDiv1 {
	width: 150px;
}
#refreshRooms {
	flex: 1;
	width: 50px;
}
#spaceDiv2 {
	width: 150px;
}
#joinRoom {
	flex: 2;
	float: right;
}

#createRoomDetails {
	display: none;
	margin-top: 20px;
	font-weight: bold;
}


