#roomName {
	text-indent: 50px;	
}

#room {
	margin-left: 50px;
	position: relative;
	width: 600px;
}


table#playerList {
	width: 600px;
}
tbody {
	height: 400px;
	overflow: auto;
}

tr {
	border-bottom: 1px solid;
	border-color: lightgrey;
}
tr#playerListTop {
	background-color: #669999;
}
td#playerName {
	text-indent: 20px;
	font-weight: bold;
	color: #EEEEEE;
	width: 500px;
	
}
td#playerColor {
	width: 100px;
	text-align: center;
	font-weight: bold;
	color: #EEEEEE;

}

td {
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: lightgrey;
	padding-bottom: 5px;
	padding-top: 5px;
}

tr.playerRow {
	font-weight: bold;
	height: 35px;
}

tr.host {
	
}
tr.self {
	text-decoration: underline;
}
tr.empty {
	
}

td.playerNameColumn {
	text-indent: 10px;
}
td.iconUser {
	padding-left: 35px;
	background-image: url("../images/usericon.png");
	background-size: 35px 35px;
	background-repeat: no-repeat;
}
td.iconComputer {
	padding-left: 35px;
	background-image: url("../images/computericon.png");
	background-size: 35px 35px;
	background-repeat: no-repeat;
}
td.playerColorColumn {
	text-align: center;
	width: 100px;
}




div.paramRow {
    margin-top: 20px;
    text-align: center;
}

div.paramRow div.button {
    width: 80px;
    margin-top: 0px;
}

div.paramRow-small div.button {
    width: 50px;
}

div.paramRow div.button-selected {
    background-color: #66AAAA;
}

#buttonRow {
	display: flex;
}

#leave {
	flex: 1;
}
#spaceDiv1 {
	width: 300px;
}
#start {
	flex: 1;
}